.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: #fff;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
	min-width: 300px;
	max-width: 90vw;
	max-height: 90vh;
	overflow-y: auto;
}
.close-btn {
	background-color: tomato;
	padding: 2px;
}
.sub-title {
	margin-bottom: 5px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.522);
}
